$mw: 1200px;
$clickByTouchColor: rgba(219, 185, 79, 0.15);
$clickByTouchColor1: rgba(245, 209, 97, 0.3);
$ff1: 'Lato', sans-serif;
$ff2: 'Bebas Neue', sans-serif;
$ff3: 'Times New Roman', sans-serif;
$colorWhite: #ffffff;
$colorWhite2: #f5f4f2;
$colorWhite3: #f5f4f2;
$colorWhite4: #e4e4e4;
$colorWhite5: #4b4b4b;
$colorBlack: #000000;
$colorBlack2: #010101;
$colorBlack3: #101010;
$colorBlack4: #131313;
$colorBlack5: #161716;
$colorBlack6: #1b1b1b;
$colorBlack7: #040707;
$colorYellow1: #ffc61a;
$colorYellow2: #daa505;
$colorYellow3: rgba(255, 198, 26, 0.6);
$bgcolor1: #181818;
$bgcolor2: #262626;
$footerColumnTitleBorder: solid 8px $colorYellow1;