/* =============================================  Scroll Up Button  --Start--  ============================================= */
.up__button {
	position: fixed;
    bottom: 6%;
    right: 12px;
    z-index: 80;
	pointer-events: none;
    cursor: pointer;
	opacity: 0;
    visibility: hidden;
	-webkit-tap-highlight-color: $clickByTouchColor0;
	transition: all 0.4s ease 0s;
	&._active {
		pointer-events: all;
		opacity: 1;
		visibility: visible;
	}
}
.up__button_icon {
	padding: rem(10);
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: rem(40);
	background: $colorGainsboro;
    box-shadow: 0px 0px rem(2) 0px $colorLightGray,
				0px 0px rem(4) 0px $colorLightGray,
				0px 0px rem(6) 0px $colorLightGray,
				0px 0px rem(10) 0px $colorLightGray;
	transform: rotate(90deg);
	transition: all 0.4s ease-in-out 0s;
	@media (max-width: $mobile) {
		font-size: rem(44);
	}
	html._pc &:hover {
		box-shadow: 0px 0px rem(5) 0px $colorLightGray,
					0px 0px rem(7) 0px $colorLightGray,
					0px 0px rem(10) 0px $colorLightGray,
					0px 0px rem(14) 0px $colorLightGray;
	}
}
/* =============================================  Scroll Up Button  --End--  ============================================= */