/* --------------------  Обнуление --Начало--  -------------------- */
*,
*::before,
*::after {
	margin: 0px 0px;
	padding: 0px 0px;
	border: 0;
	-webkit-box-sizing: border-box;
		box-sizing: border-box;
}
/* --------------------  Убираем линию под ссылками  -------------------- */
a {
	text-decoration: none;
}
/* --------------------  Убираем маркировку  -------------------- */
ul,
ol,
li {
	list-style: none;
}
/* --------------------  Убираем   -------------------- */
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
/* --------------------  Обнуление --Конец--  -------------------- */





html,
body {
	min-height: 100%;
	line-height: 1;
	font-size: 16px;
	color: #000000;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
body {
	overflow: hidden;
}
body._lock {
	overflow-y: hidden;
}

.wrapper {
	min-height: 100%;
}



/* --------------------  Page --Начало--  -------------------- */
.page {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	min-height: 100%;
	z-index: 100;
}
.page__section {
	min-height: 100vh;
	display: -webkit-box;
		display: -ms-flexbox;
			display: flex;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	text-align: center;
} 
/* -----------------------------------  Anime --Начало--  ----------------------------------- */
.page__anim {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
.page__anim img {
	width: 100%;
}
/* -----------------------------------  Anime --Конец--  ----------------------------------- */
.page__body {
	width: 100%;
}
.page__body_title {
	color: #ffffff;
	font-size: 6em;
	font-weight: 600;
	line-height: 140%;
}
@media (max-width: 767px){
	.animheartbg {
		width:28px;
		height:28px;
	}
	.page__body_title {
		font-size: 250%;
	}
@supports (-webkit-appearance:none){}
}