/* ====================  Bounding Сontainer  --Start--  ==================== */
.container-mw {
	max-width: 1420px;
	margin: 0px auto;
	padding: 0px 8px;
}
.container {
	max-width: $mw;
	margin: 0px auto;
	padding: 0px 4px;
}
/* ====================  Bounding Сontainer  --Start--  ==================== */