/* =============================================  For PC  --Start--  --Start--  ============================================= */
@media screen and (min-width: 767px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__menu {
    -webkit-transform: translate(0px, 170px);
            transform: translate(0px, 170px);
    -webkit-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
  }
  .header._active .header__menu {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

/* =============================================  For PC  --Start--  --End--  ============================================= */
/* ===================================  Max-Width 1200px  --Start--  =================================== */
@media screen and (max-width: 1200px) {
  /* ===================================  Header  --Start--  =================================== */
  /* ====================  Menu list  --Start--  ==================== */
  .menu__list {
    margin-left: calc(70px + (100 - 70) * ((100vw - 767px) / (1200 - 767)));
  }
  .menu__list > li {
    padding: 22px calc(52px + (64 - 52) * ((100vw - 767px) / (1200 - 767)));
  }
  /* ====================  Menu list  --End--  ==================== */
  /* ===================================  Header  --End--  =================================== */
  /* ===================================  Hi  --Start--  =================================== */
  .hi__time_title {
    font-size: calc(20px + (33 - 20) * ((100vw - 250px) / (1200 - 250)));
  }
  .hi__time_date {
    font-size: calc(18px + (28 - 18) * ((100vw - 250px) / (1200 - 250)));
  }
  .hi__name {
    font-size: calc(18px + (40 - 18) * ((100vw - 250px) / (1200 - 250)));
  }
  .swiper {
    height: calc(380px + (480 - 380) * ((100vw - 250px) / (1200 - 250)));
  }
  .menu__column_title {
    font-size: calc(17px + (24 - 17) * ((100vw - 250px) / (1200 - 250)));
  }
  .menu__column_text {
    font-size: calc(12px + (16 - 12) * ((100vw - 250px) / (1200 - 250)));
  }
  /* ===================================  Hi  --End--  =================================== */
  /* ===================================  Row  --Start--  =================================== */
  .page__row_content {
    padding: 30px calc(10px + (100 - 10) * ((100vw - 767px) / (1200 - 767)));
  }
  .page__row_text span {
    font-size: calc(34px + (46 - 34) * ((100vw - 250px) / (1200 - 250)));
  }
  .page__row_text span a {
    font-size: calc(15px + (22 - 15) * ((100vw - 250px) / (1200 - 250)));
  }
  /* ===================================  Row  --End--  =================================== */
  /* ===================================  Specials  --Start--  =================================== */
  .page__specials .specials__texts_column:nth-child(2) {
    font-size: calc(12px + (18 - 12) * ((100vw - 250px) / (1200 - 250)));
  }
  .page__specials .specials__texts_column .block__yellow_title {
    font-size: calc(16px + (28 - 16) * ((100vw - 767px) / (1200 - 767)));
  }
  .page__specials .specials__texts_column .block__yellow_text {
    font-size: calc(16px + (30 - 16) * ((100vw - 767px) / (1200 - 767)));
  }
  /* ===================================  Specials  --End--  =================================== */
  /* ===================================  Our  --Start--  =================================== */
  .page__our_block .block__yellow_title {
    padding: 16px calc(10px + (40 - 10) * ((100vw - 767px) / (1200 - 767)));
    font-size: calc(22px + (32 - 22) * ((100vw - 767px) / (1200 - 767)));
  }
  .page__our_block .block__yellow_text {
    padding: 16px calc(10px + (40 - 10) * ((100vw - 767px) / (1200 - 767)));
    font-size: calc(20px + (32 - 20) * ((100vw - 767px) / (1200 - 767)));
  }
  /* ===================================  Our  --End--  =================================== */
  /* ===================================  Live Music  --Start--  =================================== */
  .page__livemusic .livemusic__texts_column:nth-child(2) {
    font-size: calc(16px + (26 - 16) * ((100vw - 250px) / (1200 - 250)));
  }
  .page__livemusic .livemusic__texts_column .block__yellow_title {
    padding: 18px calc(50px + (65 - 50) * ((100vw - 250px) / (1200 - 250)));
    font-size: calc(20px + (42 - 20) * ((100vw - 250px) / (1200 - 250)));
  }
  .page__livemusic .livemusic__texts_column .block__yellow_text {
    font-size: calc(20px + (42 - 20) * ((100vw - 250px) / (1200 - 250)));
  }
  /* ===================================  Live Music  --End--  =================================== */
  /* ===================================  Footer  --Start--  =================================== */
  .footer {
    padding: 50px 0px;
  }
  .footer__logos_icon {
    max-width: calc(120px + (180 - 120) * ((100vw - 250px) / (1200 - 250)));
  }
  .footer__logos_title {
    font-size: calc(28px + (38 - 28) * ((100vw - 767px) / (1200 - 767)));
  }
  .footer__content {
    padding: 40px 0px;
  }
  .footer__content_column:last-child {
    padding: 10px calc(12px + (50 - 12) * ((100vw - 767px) / (1200 - 767)));
  }
  .footer__content_column .block__yellow_title {
    padding: 10px calc(12px + (60 - 12) * ((100vw - 767px) / (1200 - 767)));
    font-size: calc(22px + (30 - 22) * ((100vw - 767px) / (1200 - 767)));
  }
  .footer__content_column .block__yellow_text {
    font-size: calc(22px + (30 - 22) * ((100vw - 767px) / (1200 - 767)));
  }
  .footer__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__menu_list {
    padding: 0px calc(20px + (40 - 20) * ((100vw - 250px) / (1200 - 250)));
  }
  .footer__menu_list a {
    font-size: calc(20px + (28 - 20) * ((100vw - 250px) / (1200 - 250)));
  }
  .footer__author {
    padding: 0px calc(6px + (30 - 6) * ((100vw - 250px) / (1200 - 250)));
  }
  .footer__author_column {
    font-size: calc(18px + (38 - 18) * ((100vw - 767px) / (1200 - 767)));
  }
  /* ===================================  Footer  --End--  =================================== */
  /* ===================================  Popup  --Start--  =================================== */
  .popup__info_content {
    height: calc(200px + (420 - 200) * ((100vw - 250px) / (1200 - 250)));
  }
  /* ===================================  Popup  --End--  =================================== */
}

/* ===================================  Max-Width 1200px  --End--  =================================== */
@media screen and (max-width: 1024px) {
  .menu__column {
    width: 90%;
  }
}

/* =============================================  For Mobile  --Start--  ============================================= */
/* ===================================  Max-Width 767px  --Start--  =================================== */
@media screen and (max-width: 767px) {
  /* ====================  NoScrript  --Start--  ==================== */
  .noscript__text {
    font-size: calc(10px + (13 - 10) * ((100vw - 320px) / (767 - 320)));
  }
  /* ====================  NoScrript  --Start--  ==================== */
  /* ===================================  Header  --Start--  =================================== */
  .header {
    position: fixed;
  }
  .header__body {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: solid 1px #fffdfd36;
  }
  /* ===================================  Logo  --Start--  =================================== */
  .header__logo {
    max-width: 80px;
    z-index: 91;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(219, 185, 79, 0.15);
  }
  /* ====================  Logo Icon  ==================== */
  /* ===================================  Menu Burger  --Start--  =================================== */
  /* ====================  Burger menu icon  --Start--  ==================== */
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 46px;
    height: 28px;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(219, 185, 79, 0.25);
    -webkit-transform: translate(170px, 0px);
            transform: translate(170px, 0px);
    -webkit-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
    /* ====================  Burger menu icon on click  ==================== */
  }
  .header._active .menu__icon {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  .menu__icon span, .menu__icon::before, .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 3px #ffffff;
            box-shadow: 0px 0px 3px #ffffff;
  }
  .menu__icon::before, .menu__icon::after {
    content: "";
  }
  .menu__icon::before {
    top: 0px;
  }
  .menu__icon::after {
    bottom: 0px;
  }
  .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
  .menu__icon._active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .menu__icon._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu__icon._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
  }
  /* ====================  Burger menu icon  --End--  ==================== */
  /* ====================  Menu body  --Start--  ==================== */
  .menu__body {
    position: fixed;
    top: 0px;
    right: -100%;
    width: 100%;
    height: 100%;
    padding: 100px 30px 30px 30px;
    -webkit-transition: right 0.5s ease 0s;
    transition: right 0.5s ease 0s;
    background-color: rgba(40, 40, 40, 0.8);
    overflow-y: auto;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    top: 0px;
    right: -100%;
    width: 100%;
    height: 70px;
    background-color: #262626;
    z-index: 10000;
    -webkit-transition: right 0.5s ease 0s;
    transition: right 0.5s ease 0s;
  }
  .menu__body._active::before {
    right: 0%;
  }
  .menu__body._active {
    right: 0px;
  }
  .menu__list {
    margin: 0px 20%;
    position: relative;
    border: none;
    z-index: 1200;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu__list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu__list > li {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0px 0px;
    padding: 0px 0px;
  }
  .menu__link {
    padding: 22px 0px;
    position: relative;
    width: 100%;
    font-size: calc(26px + (32 - 26) * ((100vw - 320px) / (767 - 320)));
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  /* ====================  Menu body  --End--  ==================== */
  /* ====================  Header  --End--  ==================== */
  /* ===================================  Menu Burger  --End--  =================================== */
  /* ===================================  Page  --Start--  =================================== */
  .page {
    padding-top: 80px;
  }
  /* ===================================  Hi  --Start--  =================================== */
  .hi__content_img img {
    height: 65%;
  }
  .hi__name {
    padding: 8px 14px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 2px;
  }
  .swiper {
    height: 450px;
  }
  .page__menu_row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu__column {
    padding: 16px 4px;
    max-width: 70%;
    width: 100%;
  }
  .menu__column_title {
    padding: 20px 24px;
    font-size: calc(25px + (33 - 25) * ((100vw - 250px) / (767 - 250)));
  }
  .menu__column_text {
    font-size: calc(18px + (24 - 18) * ((100vw - 250px) / (767 - 250)));
    line-height: 250%;
  }
  .menu__column_img {
    max-width: 70%;
    height: calc(180px + (325 - 180) * ((100vw - 250px) / (767 - 250)));
  }
  /* ===================================  Hi  --End--  =================================== */
  /* ===================================  Row  --Start--  =================================== */
  .page__row_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .page__row_column {
    max-width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .page__row_column:nth-child(2) {
    max-width: 50%;
  }
  .page__row_text {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .page__row_text span {
    font-size: calc(26px + (55 - 26) * ((100vw - 250px) / (767 - 250)));
  }
  .page__row_text span:nth-child(4) {
    padding-top: 30px;
  }
  .page__row_text span a {
    font-size: calc(25px + (35 - 25) * ((100vw - 250px) / (767 - 250)));
  }
  .page__row .row__logos_content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  /* ===================================  Row  --End--  =================================== */
  /* ===================================  Specials  --Start--  =================================== */
  .page__specials_ibg {
    height: 94%;
  }
  .page__specials .specials__texts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .page__specials .specials__texts_column {
    padding: 0px calc(10px + (50 - 10) * ((100vw - 250px) / (767 - 250)));
    max-width: 100%;
  }
  .page__specials .specials__texts_column:nth-child(2) {
    padding-top: 32px;
    text-align: center;
  }
  .page__specials .specials__texts_column .block__yellow_title {
    font-size: calc(18px + (30 - 18) * ((100vw - 250px) / (767 - 250)));
  }
  .page__specials .specials__texts_column .block__yellow_text {
    font-size: calc(20px + (30 - 20) * ((100vw - 250px) / (767 - 250)));
  }
  /* ===================================  Specials  --End--  =================================== */
  /* ===================================  Our  --Start--  =================================== */
  .page__our_body {
    padding: 40px 0px 30px;
  }
  .page__our_block {
    padding: 0px calc(12px + (22 - 12) * ((100vw - 360px) / (767 - 360)));
  }
  .page__our_block .block__yellow_title {
    padding: 16px calc(10px + (18 - 6) * ((100vw - 250px) / (767 - 250)));
    font-size: calc(12px + (22 - 12) * ((100vw - 250px) / (767 - 767)));
  }
  .page__our_block .block__yellow_text {
    padding: 16px calc(10px + (18 - 6) * ((100vw - 250px) / (767 - 250)));
    font-size: calc(12px + (22 - 12) * ((100vw - 250px) / (767 - 250)));
  }
  /* ===================================  Our  --End--  =================================== */
  /* ===================================  Live Music  --Start--  =================================== */
  .page__livemusic .livemusic__texts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .page__livemusic .livemusic__texts_column:nth-child(2) {
    max-width: 100%;
    padding: 20px calc(20px + (50 - 20) * ((100vw - 250px) / (767 - 250)));
    text-align: center;
  }
  /* ===================================  Live Music  --End--  =================================== */
  /* ===================================  Footer  --Start--  =================================== */
  .footer {
    padding: 60px 0px 10px;
  }
  .footer__logos_title {
    font-size: calc(22px + (28 - 22) * ((100vw - 250px) / (767 - 250)));
  }
  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__content_column:nth-child(1) {
    max-width: 80%;
  }
  .footer__content_column:last-child {
    padding: 10px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__content_column .block__yellow_title {
    padding: 10px 6px;
    font-size: 22px;
  }
  .footer__content_column .block__yellow_text {
    font-size: calc(14px + (22 - 14) * ((100vw - 250px) / (767 - 250)));
  }
  .footer__author {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__author_column {
    font-size: 20px;
    line-height: 220%;
  }
  .footer__author_column:last-child {
    text-align: center;
  }
  /* ===================================  Footer  --End--  =================================== */
  /* ===================================  Page  --End--  =================================== */
  /* ===================================  Scroll Up Button  --Start--  =================================== */
  .up__button_icon {
    width: 58px;
    height: 58px;
  }
  /* ===================================  Scroll Up Button  --End--  =================================== */
}

/* ===================================  Max-Width 767px  --End--  =================================== */
@media screen and (max-width: 460px) {
  .menu__column {
    max-width: 80%;
  }
}

/* ===================================  Max-Width 360px  --Start--  =================================== */
@media screen and (max-width: 360px) {
  .menu__list {
    margin: 0px 2px;
  }
  .menu__column {
    padding: 16px calc(4px + (12 - 4) * ((100vw - 250px) / (360 - 250)));
    max-width: 100%;
  }
  .hi__content_img img {
    height: 50%;
  }
  .page__row_column:nth-child(2) {
    max-width: 75%;
  }
  .up__button_icon {
    width: 54px;
    height: 54px;
  }
  .page__our_body {
    padding-top: 25px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .page__our_block {
    padding: 0px 32px;
  }
  .page__our_column {
    max-width: 100%;
  }
  .page__our_column:last-child {
    padding-top: 30px;
  }
  .page__our_column img:nth-child(1) {
    max-width: 55%;
  }
  .footer__content_column:nth-child(1) {
    max-width: 100%;
  }
}

/* ===================================  Max-Width 360px  --End--  =================================== */
/* =============================================  For Mobile  --End--  ============================================= */
