/* ===================================  Dropdown List  --Start--  =================================== */
.menu__list_sublist {
	position: relative;
	cursor: pointer;
	-webkit-tap-highlight-color: $clickByTouchColor0;
	&._active .menu__sub_list {
		opacity: 1;
		visibility: visible;
		pointer-events: all;
		display: block;
		cursor: pointer;
		transition: all 0.6s ease 0s;
		@media (max-width: $tablet) {
			left: 0px;
			transform: translate(0px, 0px);
		}
	}
	&-title {
		width: 100%;
		display: flex;
		column-gap: rem(10);
		@media (max-width: $tablet) {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: nowrap;
		}
		& .menu__link {
			width: auto;
			color: $colorWhite;
		}
		span {
			color: $colorWhite;
		}
	}
}
.menu__sub_list {
	position: absolute;
	top: 100%;
	min-width: rem(170);
	padding: rem(18) rem(16);
	text-align: center;
	opacity: 0;
	visibility: hidden;
	background-color: $colorWhite;
	border-radius: rem(4);
	box-shadow: 0px 0px rem(6) rgba($color: #000000, $alpha: 0.4);
	z-index: 91;
	pointer-events: none;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	-webkit-tap-highlight-color: $clickByTouchColor0;
	@media (min-width: $tablet) {
		left: 50%;
		transform: translate(-50%, 0px);
		html._pc .menu__list > .menu__list_sublist:hover & {
			pointer-events: all;
			opacity: 1;
			visibility: visible;
			transform: translate(-50%, 0px);
		} 
	}
	@media (max-width: $tablet) {
		position: relative;
		background-color: $colorWhite;
		display: none;
		.menu__list > li._active & {
			display: block;
		}
		& > li:nth-child(1) {
			margin-top: 0px;
		}
		& > li:last-child {
			margin: rem(12) 1rem(6) 0px;
		}
		& > li {
			margin: rem(12) 1rem(6);
		}
	}
	> li {
		margin: 0px 0px rem(12) 0px;
	}
	> li:last-child{
		margin: 0px 0px;
	}
}
.menu__sub_link {
	font-size: rem(14);
	font-weight: bold;
	color: $colorBlackBrown;
	user-select: none;
	display: flex;
	column-gap: rem(12);
	html._pc &:hover {
		text-decoration: underline;
	}
	@media (max-width: $tablet) {
		width: 100%;
		color: $colorBlackBrown;
		@include adaptiveValue("font-size", 22, 20);
	}
	&::before {
		color: $colorGreenCrayola;
	}
}
/* ===================================  Dropdown List  --End--  =================================== */