/* =============================================  Zeroing  --Start--  ============================================= */
* {
    padding: 0px 0px;
    margin: 0px 0px;
    border: 0;
}
*, *::before, *::after {
    box-sizing: border-box;
}
:focus,
:active {
	// outline: none;
}
a:focus,
a:active {
	// outline: none;
}
aside, nav, header, 
aside, section, footer {
    display: block;
}
html, body {
    height: 100%;
}
body {
	//text-rendering: optimizeLegibility;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
input, button, textarea {
	font-family: $fontFamily;
	font-size: inherit;
}
input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
	color: inherit;
	background-color: inherit;
}
button::-moz-focus-inner {
    padding: 0px 0px;
    border: 0;
}
a {
	color: inherit;
}
a, a:visited {
  	text-decoration: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a:link,
a:visited,
a:hover {
	text-decoration: none;
}
ul li {
    list-style: none;
}
img {
	width: 100%;
	height: 100%;
	object-fit: contain;
    vertical-align: top;
}
h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}
/* ====================  If JavaScript is disabled  --Start--  ==================== */
noscript {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.97);
	z-index: 9999999999999999;
}
.noscript__content {
	padding: 4px 12px;
	text-align: center;
}
.noscript__text {
	color: $colorWhite;
	font-size: rem(16);
	font-weight: 700;
	line-height: 1.2;
	a {
		color: #33ff00;
	}
	@media (max-width: em(767)) {
		font-size: calc(10px + (13 - 10) * ((100vw - 320px) / (767 - 320)));
	}
}
/* ====================  If JavaScript is disabled  --End--  ==================== */
/* =============================================  Zeroing  --End--  ============================================= */