/* ====================  Georgia  ==================== */
@font-face {
	font-family: 'Georgia';
	src: url('georgia/georgia.eot');
	src: local('☺'), url('georgia/georgia.woff') format('woff'), url('georgia/georgia.ttf') format('truetype'), url('georgia/georgia.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* ====================  Arial  ==================== */
@font-face {
	font-family: 'Arial';
	src: url('fonts/arial.eot');
	src: local('☺'), url('fonts/arial.woff') format('woff'), url('fonts/arial.ttf') format('truetype'), url('fonts/arial.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* ====================  Times New Roman  ==================== */
@font-face {
	font-family: 'Times New Roman';
	src: url('times/times.eot');
	src: local('☺'), url('times/times.woff') format('woff'), url('times/times.ttf') format('truetype'), url('times/times.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}