._text {
	color: $colorYelow;
	font-family: 'Fjalla One', sans-serif;
	font-weight: 400;
	letter-spacing: 0.025em;
	text-shadow: 1px 10px 18px $colorBlack, 
				1px 11px 20px $colorBlack, 
				1px 12px 22px $colorBlack;
}