/* ===================================  Max-Width 767px  --Start--  =================================== */
@media screen and (max-width: 767px){
	/* ====================  NoScrript  --Start--  ==================== */
	.noscript__text {
		font-size: calc(10px + (13 - 10) * ((100vw - 320px) / (767 - 320)));
	}
	/* ====================  NoScrript  --Start--  ==================== */
	@import "_media-header";// ====================  here Media Header  ==================== //
	/* ===================================  Menu Burger  --End--  =================================== */
	@import "../_media-page";// ====================  here Media Page  ==================== //
	/* ===================================  Scroll Up Button  --Start--  =================================== */
	.up__button_icon {
		width: 58px;
		height: 58px;
	}
	/* ===================================  Scroll Up Button  --End--  =================================== */
}
/* ===================================  Max-Width 767px  --End--  =================================== */