body {
	color: $colorBlack;
	line-height: 1;
	font-family: $fontFamily;
	font-weight: 400;
	background-color: $bgcolor1;
	overflow-x: hidden;
	overflow-y: auto;
	// Скролл заблокирован
	.lock & {
		overflow: hidden;
		touch-action: none;
	}
	// Сайт загружен
	.loaded & {
	}
	// Для экрана которые ниже 250px
	&._minWindowScreen250 {
		overflow: auto;
		touch-action: auto;
	}
}