// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
//&display=swap - добавить при подключении через плагин

// Подключить если есть локальные файлы шрифтов
@import "fonts/_fonts";

// Подключение иконочных шрифтов ==============================================================================================================================================================================================================================================================================
// Подключить если есть файл иконочного шрифта
@import "fonts/_icons";

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: ff(Poppins);
$fontSize: rem(16); // где 16(px) - размер шрифта по умолчанию из макета

// НАСТРОЙКИ ===============================================================================================================================================================================================================================================================================================
// Минимальная ширина страницы
$minWidth: 250;
// Ширина полотна (макета)
$maxWidth: 1440;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1360;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 40;

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;

// Ширина страбатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: em($containerWidth); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S


// Colors
$bgcolor1: #E5E5E5;
$bgcolor2: #262626;
$footerbgc: #1B3544;
$clickByTouchColor: rgba(0, 0, 0, 0);
$clickByTouchColor2: rgba(68, 178, 195, 0.3);
$colorWhite: #ffffff;
$colorWhite2: #f5f4f2;
$colorWhite3: #f5f4f2;
$colorWhite4: #e4e4e4;
$colorWhite5: #dadada;
$colorWhite6: #b8b8b8;
$colorWhite7: #4b4b4b;
$colorWhite8: #616364;
$colorWhite9: #E5E5E5;
$colorBlack: #000000;
$colorBlack2: #010101;
$colorBlack3: #101010;
$colorBlack4: #131313;
$colorBlack5: #161716;
$colorBlack6: #1b1b1b;
$colorBlack7: #040707;
$colorBlack7: #303030;
$colorBlack8: #646464;
$colorYellow: #ffc61a;
$colorYellow2: #daa505;
$colorYellow3: rgba(255, 198, 26, 0.6);
$colorLightBrown: #A58054;
$colorLightBrown2: #B69874;
$colorBlueGreen: #1B3544;
$buttonBGcolorBlueGreen: #1B3544;
$buttonBGcolorAlmondCrayola: #F5DCDC;
$buttonBGcolorLightBrown: #A58054;
$buttonBGcolorOrangeYellowCrayola: #F6C461;
$colorSelectionsButtonActive: #ff5a00;
$footerColumnTitleBorder: solid 8px $colorYellow;