/* ====================  Background Colors  ==================== */
$bgcBody: #FFFFFF;
$bgcFooter: #22303E;
/* ====================  Additionally Used Colors For The Background In The Layout  --Start--  ==================== */
$bgcHeaderTopBanner: #000D60;
$bgcHeaderBody: #293895;
$bgcTopMenuBody: #293895;



/* ====================  Additionally Used Colors For The Background In The Layout  --End--  ==================== */
/* ====================  Touch Colors  ==================== */
$clickByTouchColor0: rgba(0, 0, 0, 0);
$clickByTouchColor1: rgba(68, 178, 195, 0.3);
/* ====================  Colors  ==================== */
$colorWhite: #FFFFFF;
$colorBlack: #000000;
$colorRed: #FF0000;
$colorYellow: #FFFF00;
$colorOrange: #FFA500;
$colorBlue: #0000FF;
$colorNavy: #000080;
$colorGreen: #008000;
$colorLime: #008000;
$colorFuchsia: #008000;
$colorPurple: #800080;
$colorIndigo: #4B0082;
/* ====================  Additionally Used Colors in the Layout  --Start--  ==================== */
$colorIconMenu: #000000;
$colorSignalBlack: #303030;
$colorGainsboro: #DaDaDa;
$colorLightGray: #B8B8B8;
$colorLimeGreen: #62D33E;
$colorBlackBrown: #222222;
$colorVioletBlueCrayola: #293895;
$colorGreenCrayola: #169E46;
$colorGray: #7A7A7A;
$colorLightBlue: #C1C7EC;
$colorVeryPaleBlue: #BCC0C5;
$colorLightGrey: #B9B9B9;
$colorLightTelegraph: #CECECE;
$colorGrideperlevy: #F2F4F5;
$colorMotherOfPearlDarkGray: #828282; 
$colorPeriwinkleCrayola: #C2C7EC;
/* ====================  Additionally Used Colors in the Layout  --End--  ==================== */