/* ===================================  Max-Width 1200px  --Start--  =================================== */
@media screen and (max-width: 1200px) {
	/* ===================================  Header  --Start--  =================================== */
	/* ====================  Menu list  --Start--  ==================== */
	.menu__list {
		margin-left: calc(70px + (100 - 70) * ((100vw - 767px) / (1200 - 767)));
		> li {
			padding: 22px calc(52px + (64 - 52) * ((100vw - 767px) / (1200 - 767)));
		}
	}
	/* ====================  Menu list  --End--  ==================== */
	/* ===================================  Header  --End--  =================================== */
	/* ===================================  Hi  --Start--  =================================== */
	.hi {
		&__time_title {
			font-size: calc(20px + (33 - 20) * ((100vw - 250px) / (1200 - 250)));
		}
		&__time_date {
			font-size: calc(18px + (28 - 18) * ((100vw - 250px) / (1200 - 250)));
		}
		&__name {
			font-size: calc(18px + (40 - 18) * ((100vw - 250px) / (1200 - 250)));
		}
	}
	.swiper {
		height: calc(380px + (480 - 380) * ((100vw - 250px) / (1200 - 250)));
	}
	.menu__column {
		&_title {
			font-size: calc(17px + (24 - 17) * ((100vw - 250px) / (1200 - 250)));
		}
		&_text {
			font-size: calc(12px + (16 - 12) * ((100vw - 250px) / (1200 - 250)));
		}
	}
	/* ===================================  Hi  --End--  =================================== */
	/* ===================================  Row  --Start--  =================================== */
	.page__row {
		&_content {
			padding: 30px calc(10px + (100 - 10) * ((100vw - 767px) / (1200 - 767)));
		}
		&_text {
			span {
				font-size: calc(34px + (46 - 34) * ((100vw - 250px) / (1200 - 250)));
				a { 
					font-size: calc(15px + (22 - 15) * ((100vw - 250px) / (1200 - 250)));
				}
			}
		}
	}
	/* ===================================  Row  --End--  =================================== */
	/* ===================================  Specials  --Start--  =================================== */
	.page__specials {
		.specials__texts_column {
			&:nth-child(2) {
				font-size: calc(12px + (18 - 12) * ((100vw - 250px) / (1200 - 250)));
			}
			.block__yellow {
				&_title {
					font-size: calc(16px + (28 - 16) * ((100vw - 767px) / (1200 - 767)));
				}
				&_text {
					font-size: calc(16px + (30 - 16) * ((100vw - 767px) / (1200 - 767)));
				}
			}
		}
	}
	/* ===================================  Specials  --End--  =================================== */
	/* ===================================  Our  --Start--  =================================== */
	.page__our{
		&_block {
			.block__yellow_title {
				padding: 16px calc(10px + (40 - 10) * ((100vw - 767px) / (1200 - 767)));
				font-size: calc(22px + (32 - 22) * ((100vw - 767px) / (1200 - 767)));
			}
			.block__yellow_text {
				padding: 16px calc(10px + (40 - 10) * ((100vw - 767px) / (1200 - 767)));
				font-size: calc(20px + (32 - 20) * ((100vw - 767px) / (1200 - 767)));
			}
		}
	}
	/* ===================================  Our  --End--  =================================== */
	/* ===================================  Live Music  --Start--  =================================== */
	.page__livemusic {
		.livemusic__texts {
			&_column {
				&:nth-child(2) {
					font-size: calc(16px + (26 - 16) * ((100vw - 250px) / (1200 - 250)));
				}
				.block__yellow_title {
					padding: 18px calc(50px + (65 - 50) * ((100vw - 250px) / (1200 - 250)));
					font-size: calc(20px + (42 - 20) * ((100vw - 250px) / (1200 - 250)));
				}
				.block__yellow_text {
					font-size: calc(20px + (42 - 20) * ((100vw - 250px) / (1200 - 250)));
				}
			}
		}
	}
	/* ===================================  Live Music  --End--  =================================== */
	/* ===================================  Footer  --Start--  =================================== */
	.footer {
		padding: 50px 0px;
		&__logos {
			&_icon {
				max-width: calc(120px + (180 - 120) * ((100vw - 250px) / (1200 - 250)));
			}
			&_title {
				font-size: calc(28px + (38 - 28) * ((100vw - 767px) / (1200 - 767)));
			}
		}
		&__content {
			padding: 40px 0px;
			&_column {
				&:last-child {
					padding: 10px calc(12px + (50 - 12) * ((100vw - 767px) / (1200 - 767)));
				}
				.block__yellow_title {
					padding: 10px calc(12px + (60 - 12) * ((100vw - 767px) / (1200 - 767)));
					font-size: calc(22px + (30 - 22) * ((100vw - 767px) / (1200 - 767)));
				}
				.block__yellow_text {
					font-size: calc(22px + (30 - 22) * ((100vw - 767px) / (1200 - 767)));
				}
			}
		}
		&__menu {
			display: flex;
			&_list {
				padding: 0px calc(20px + (40 - 20) * ((100vw - 250px) / (1200 - 250)));
				a {
					font-size: calc(20px + (28 - 20) * ((100vw - 250px) / (1200 - 250)));
				}
			}
		}
		&__author {
			padding: 0px calc(6px + (30 - 6) * ((100vw - 250px) / (1200 - 250)));
			&_column {
				font-size: calc(18px + (38 - 18) * ((100vw - 767px) / (1200 - 767)));
			}
		}
	}
	/* ===================================  Footer  --End--  =================================== */
	/* ===================================  Popup  --Start--  =================================== */
	.popup__info {
		&_content {
			height: calc(200px + (420 - 200) * ((100vw - 250px) / (1200 - 250)));
		}
	}
	/* ===================================  Popup  --End--  =================================== */
}
/* ===================================  Max-Width 1200px  --End--  =================================== */